/* CSS Document */
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif","微软雅黑";
	width: auto;
	background-color: #5DC0DF; 
	
}

a{
text-decoration:none;
	outline: none;
}

.contentArea{
	width: 1280px;
	background-color:azure;
	margin:0 auto;
}

.head_logo{
	height: 60px;
	float: left;
}

.tl{
	height: 60px;
	background-color:#F8F8F8;
	font-size: 25px;
}

.head_item{
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	display: inline-block;
	color: dimgray;
}

.selected{
	background-color: lightgray;
}

.selecting{
	background-color:lightblue;
}


